         h1 {
                color : blue;
            }
            img{
                width : 350px;
            }

            /* para clases va .classId para ids va #thirdDiv */

            #thirdDiv {
                background-color: rgb(130, 20, 220);
                height : 600px;
                width : 600px;
                padding: 80px;
                border : 10px solid rgb(83, 83, 223);
                margin : 30px;
            }
            #spanId {
                font-size: 18px;
                margin : 50px;
            }

            .divClass {
                background: rgb(139, 110, 110);
            }
